@font-face {
    font-family: Arimo;
    src: url(../fonts/Arimo-Medium.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
    transition: 1000ms;
}
body > header{
    display: flex;
    justify-content: center;
}
body > header > nav{
    align-items: center;
    color: white;
    position: fixed;
    display: flex;
    gap: 1rem;
    background-color: #1d1d1d;
    width: fit-content;
    margin: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem ;
    border-radius: 1rem;
    font-family: 'Roboto';
}

body > header > nav > ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
main > section:nth-child(1){
    height: 100vh;
    background-color: #0a0a0a;
    text-align: center;
}
main{
    color: white;
}
fieldset{
    border: none;
}
main > section:nth-child(1) > article > fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
main > section:nth-child(1) > article {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > section:nth-child(1) > article > fieldset > h1{
    font-size: 7rem;
    font-family: 'Arimo';
    
}
input[name="motmagic"]{
    background-color: white;
    padding: 0.5rem 1rem 0.5rem 1rem ;
    border-radius: 1rem;
}
input[type="button"]{
    font-family: 'Roboto';
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 1rem;
    color: white;
    background-color: #1d1d1d;
    border: 1px solid #0a0a0a;
}
#score{
    font-size: 1.3rem;
}
#getmotmagic{
    font-size: 1.5rem;
}
input[type="text"]{
    width: 30vw;
    background-color: #1d1d1d;
    border: 1px solid white;
    color: white;
}
main > section:nth-child(2){
    height: 75vh;
    background-color: #0a0a0a;
    border-top: 1px solid #1d1d1d;
}
main > section:nth-child(2) > article{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
main > section:nth-child(2) > article > header > h2{
    font-size: 4rem;
}
main > section:nth-child(2) > article > section{
    display: flex;
    gap: 1rem;
}
main > section:nth-child(2) > article > section > article > img{
    height: 5rem;
}
main > section:nth-child(2) > article > section > article > h3{
    font-size: 1.5rem;
    border-bottom: 1px solid #1d1d1d;
}
main > section:nth-child(2) > article > section > article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #1d1d1d;
    padding: 2rem;
    width: 20vw;
}
#barprogression{
    display: flex;
    background-color: white;
    height: 10px;
    border-radius: 1rem;
}
footer{
    color: white;
}
footer section > h3{
    font-size: 4rem;
}
footer > section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    border-top: 1px solid #1d1d1d;
    background-color: #0a0a0a;
}
footer > section > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer > section > div > article:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}
footer > section > div > article:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer > section > div > article:nth-child(1){
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-left: 5vh;
}
ul{
    list-style: none;
}
footer a{
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 320px) {
    body{
        background-color: #0a0a0a;
    }
    header{
        visibility: hidden;
    }
    main > section:nth-child(2) > article > section {
        display: flex;
        flex-direction: column;
    }
    main > section:nth-child(1) > article > fieldset > h1{
        font-size: 3em;
}
    main > section:nth-child(2){
        height: fit-content;
}
footer > section > div{
    height: fit-content;
    display: flex;
    flex-direction: column;
}
main > section:nth-child(2) > article > section > article{
    width: 100%;
}
}

main > section > article > fieldset > div > button{
    background-color: #1d1d1d;
    border: 1px solid gray;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}